.three-dots {
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $gray-400;
    pointer-events: none;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $gray-400;
        top: 10px;
        pointer-events: none;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $gray-400;
        pointer-events: none;
    }
}

@keyframes dotanimation {
    0% {
        background-color: $gray-400;
    }
    50% {
        background-color: $primary;
    }
    100% {
        background-color: $gray-400;
    }
}