.logo{
    @include header-padding;
    padding-left: 15px;
    padding-right: 15px;
    &__link{
        display: flex;
        align-items: center;
        &:hover{
            text-decoration: none;
        }
    }
    &__coube{
        width: 56px;
        height: 56px;
        border: 3px solid $brand;
    }&__text{
        font-size: 26px;
        color: $black;
        font-weight: bold;
        margin-left: -40px;
        background-color: $white;
    }
}
@include media-breakpoint-down(sm){
    .logo{
        &__coube{
            width: 45px;
            height: 45px;
        }
        &__text{
            font-size: 20px;
            margin-left: -30px;
        }
    }
}