.poop {
    @include wrapper;
    position: absolute;
    z-index: 15;
    display: none;
    opacity: 0;
    transition: all .3s;
    top: 0;
    right: 65px;
    padding-right: 40px;
    &::before {
        content: '';
        position: absolute;
        right: -23px;
        top: 30px;
        border: 9px solid transparent;
        border-left: 15px solid #ffffff;
    }
    &__buttons {
        padding-left: 10px;
    }
    &__btn {
        display: flex;
        align-items: center;
        color: $gray-500;
        margin-bottom: 10px;
        transition: all .3s;
        &:hover {
            text-decoration: none;
            color: inherit;
            &::before {
                border-color: inherit;
            }
        }
        &--success:hover {
            color: $primary;
        }
        &--warninig:hover {
            color: $danger;
        }
        &::before {
            content: '';
            display: inline-block;
            margin-right: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid $gray-500;
        }
    }
}