.custom-form {
    position: relative;
    &__input {
        &-wrapper {
            position: relative;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &.input__filled {
                .custom-form__input {
                    border-color: $primary;
                }
                label.custom-form__input-label {
                    top: 0;
                }
            }
        }
        &-label {
            position: absolute;
            transform: translateY(-50%);
            left: 0;
            top: 50%;
            left: 18px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #ffffff;
            user-select: none;
            transition: all .3s;
            cursor: text;
        }
        &-hidden {
            &:focus {
                box-shadow: 0 0 2px 1px $primary;
            }
        }
        margin-bottom: 0;
        width: 100%;
        border: 1px solid $gray-400;
        padding: 20px 20px;
        border-radius: 8px;
        outline: none;
        transition: all .3s;
        &:focus {
            box-shadow: 0 0 2px 1px $primary;
            ~.custom-form__input-label,
            ~label.custom-form__input-label {
                top: 0px;
            }
        }
        &:hover {
            border-color: $primary;
        }
    }
    .custom-form__textarea-wrapper {
        height: 100%;
        .custom-form__input {
            resize: none;
            height: 100%;
            color: $gray-600;
        }
        .custom-form__input-label {
            top: 25px;
            color: $gray-600;
        }
    }
    &__file-title {
        color: $gray-500;
    }
    &__file-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__file-item {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding: 10px 15px;
        border: 1px solid $gray-400;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    &__file-delete {
        display: inline-block;
        margin-left: auto;
        width: 20px;
        height: 20px;
        background-color: $gray-200;
        border-radius: 50%;
        text-align: center;
        color: #000;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            text-decoration: none;
            background-color: $gray-500;
            color: #ffffff;
        }
    }
}

.accessibility {
    &-input {
        &:focus {
            ~.accessibility-label {
                box-shadow: 0 0 2px 1px $primary;
            }
            ~.custom-form__input-label {
                top: 0;
            }
        }
    }
    &-label {
        cursor: pointer;
    }
    &-wrapper {
        div.custom-form__input-label {
            cursor: pointer;
            pointer-events: none;
        }
    }
}

.line-form {
    &__field {
        margin-bottom: 20px;
        position: relative;
        &::after {
            content: '';
            transition: all .5s;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            height: 2px;
            width: 0;
        }
        &.field-focus {
            &::after {
                width: 100%;
                background-color: $primary;
            }
        }
        &.line-form__field--filled {
            .line-form__label {
                left: 15px;
                font-size: 12px;
                &.line-form__label--top {
                    top: -10px;
                }
            }
        }
    }
    &__input {
        position: relative;
        width: 100%;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-bottom: 1px solid $gray-300;
        outline: none;
        transition: all .3s;
        font-size: 14px;
        font-weight: bold;
        &:focus {
            ~.line-form__label {
                left: 15px;
                font-size: 12px;
                &.line-form__label--top {
                    top: -10px;
                }
            }
        }
    }
    &__label {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 14px;
        color: $gray-600;
        transition: all .5s;
        user-select: none;
    }
}

@include media-breakpoint-up(md) {
    .line-form {
        &__field {
            &--label-inline {
                .line-form__input {
                    &#input-payment:focus {
                        padding-left: 110px;
                    }
                    &#input-ogrn:focus {
                        padding-left: 52px;
                    }
                    &#input-bank:focus {
                        padding-left: 48px;
                    }
                    &:focus {
                        padding-left: 45px;
                    }
                }
            }
            &--label-inline.line-form__field--filled {
                .line-form__input {
                    padding-left: 45px;
                    &#input-payment {
                        padding-left: 110px;
                    }
                    &#input-ogrn {
                        padding-left: 52px;
                    }
                    &#input-bank {
                        padding-left: 48px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .custom-form {
        &__input {
            padding: 10px 12px;
        }
        &__textarea-wrapper {
            min-height: 150px;
        }
        &__file-delete {
            width: 18px;
            height: 18px;
            font-size: 12px;
            line-height: 17px;
        }
        &__file-item {
            padding: 5px 5px;
        }
    }
    .line-form {
        &__label {
            font-size: 12px;
        }
        &__input {
            &:focus {
                ~.line-form__label {
                    left: 15px;
                    font-size: 12px;
                    top: -10px;
                }
            }
        }
        &__field {
            &.line-form__field--filled {
                .line-form__label {
                    left: 15px;
                    font-size: 12px;
                    top: -10px;
                }
            }
        }
    }
}