@import './header/person';
@import './header/logo';
@import './header/menu';

.main-header {
    border-bottom: 1px solid $gray-300;
    position: relative;
    background: $white;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
}