@import 'bootstrap-settings';

@import 'header';
@import 'footer';
@import 'variables';
@import 'typography';
@import 'services/services.scss';
@import 'fonts.scss';

body{
    font-family: 'SF UI Display', 'serif';
    background-color: $background;
}
.primary-btn{
    display: block;
    padding: 10px;
    background-color: $primary;
}
.flex-grow{
    flex-grow: 1;
}
.wallet{
    text-transform: uppercase;
    font-weight: bold;
}
.right{
    margin-left: auto;
    text-align: right;
}
.btn-link{
    padding: 15px 0;
    display: block;
    color: $gray-800;
    text-decoration: underline;
    &:hover{
        color: $black;
    }
}
.btn{
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    color: $gray-800;
    text-align: center;
    border: 1px solid $gray-500;
    font-weight: 500;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: inherit;
        opacity: 0.6;
    }
    &--stroke{
        &.active{
            background-color: $white;
            border-color: transparent;
        }
    }
}
@media (min-width:992px) and (max-width:1144px) {
    .main{
        padding-right: 92px;
    }
}
@media (min-width:768px) and (max-width:904px) {
    .main{
        padding-right: 92px;
    }
}
@include media-breakpoint-down(xl) {
    .btn{
        padding: 15px 16px;
    }

}