@import 'bootstrap-settings';
@import 'header';
@import 'footer';
@import 'variables';
@import 'typography';
@import 'services/services.scss';
@import './buh/buh.scss';
@import './task/task.scss';
@import './table.scss';
@import 'fonts.scss';
@import './components/total-rating.scss';
@import './components/three-dots.scss';
@import './components/form.scss';
@import './components/poop.scss';
@import './components/page-elements.scss';
@import './components/date-picker.scss';
@import './components/custom-toasts.scss';
@import './company/company.scss';
@import './profile/profile.scss';
@import './analityc/analytic.scss';
body {
    font-family: 'SF UI Display', 'serif';
    background-color: $background;
}

.flex-grow {
    flex-grow: 1;
}

.wallet {
    text-transform: uppercase;
    font-weight: bold;
}

.right {
    margin-left: auto;
    text-align: right;
}

.btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    transition: all .3s;
    &:hover {
        text-decoration: none;
        opacity: 0.8;
    }
    &--stroke {
        color: $gray-800;
        border: 1px solid $gray-500;
        &:hover {
            color: inherit;
        }
        &.active {
            background-color: $white;
            border-color: transparent;
        }
    }
    &-wrapper {
        max-width: 290px;
        margin: auto;
    }
    &-accessibility {
        border: none;
        background: none;
    }
}

.primary-btn {
    display: block;
    padding: 10px;
    background-color: $primary;
}

.gradient-btn {
    background: $primary-gradient;
    border: none;
    color: $white;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(255, 138, 132, 0.5);
    text-shadow: 0px 1px 0px #a24743;
    &:hover {
        color: $white;
    }
}

.round-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    text-shadow: none;
    font-size: 22px;
    line-height: 40px;
}

.icon-plus {
    position: relative;
    display: block;
    margin: auto;
    max-width: 16px;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
        transform: rotate(90deg);
        position: absolute;
        top: 0;
    }
}

.success-btn {
    background: $success-gradient;
    border: none;
    color: $white;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(132, 255, 172, .5);
    text-shadow: 0px 1px 0px #64bf74;
    &:hover {
        color: $white;
    }
}

.btn-link {
    padding: 15px 0;
    display: block;
    color: $gray-800;
    text-decoration: underline;
    &:hover {
        color: $black;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.wrapper-title {
    font-weight: normal;
}

.color-dark {
    color: $gray-800;
}

.color-light-dark {
    color: $gray-600;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.download-icon {
    max-width: 15px;
    max-height: 15px;
    padding-left: 15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    fill: #ff8487;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: none;
    background-size: contain;
}

.c-primary {
    color: $primary;
}

.c-danger {
    color: $danger;
}

.c-warning {
    color: $warning;
}

.c-success {
    color: $success;
}

@media (min-width:992px) and (max-width:1144px) {
    .main {
        padding-right: 92px;
    }
}

@media (min-width:768px) and (max-width:904px) {
    .main {
        padding-right: 92px;
    }
}

@include media-breakpoint-down(xl) {
    .btn {
        // padding: 15px 16px;
    }
}

@include media-breakpoint-down(xs) {
    .btn {
        font-size: 12px;
        padding: 8px 5px;
    }
    .btn-pad {
        padding: 10px 15px;
    }
    .mobile-hide {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    .tablet-hide {
        display: none;
    }
}