.main-table {
    width: 100%;
    &__wrapper {
        @include wrapper;
    }
    &__row--head &__cell {
        color: $gray-500;
    }
    &__row {
        border-bottom: 1px solid $gray-400;
    }
    &__cell {
        padding-bottom: 20px;
        padding-top: 20px;
        color: $gray-700;
    }
    &__status {
        position: relative;
        font-weight: bold;
        &--success {
            color: $success;
            .main-table__link:hover .main-table__download-icon {
                fill: $success;
            }
        }
        &--danger {
            color: $danger;
            .main-table__link:hover .main-table__download-icon {
                fill: $danger;
            }
        }
    }
    &__btn-wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
        position: absolute;
        right: -10px;
        transform: translateY(-50%);
        top: 50%;
        max-width: 30px;
        transition: all .3s;
        min-height: 30px;
        user-select: none;
        .btn {
            position: absolute;
            right: 10px;
            z-index: 10;
            width: 30px;
            height: 30px;
            padding: 0;
            &:hover .three-dots__icon {
                animation: 1.2s linear infinite alternate dotanimation;
                animation-delay: .4s;
                &::before {
                    animation: 1.2s linear infinite alternate dotanimation;
                    // animation-delay: .5s;
                }
                &::after {
                    animation: 1.2s linear infinite alternate dotanimation;
                    animation-delay: .8s;
                }
            }
        }
        &.active {
            max-width: 220px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 0 0 #fff;
            box-shadow: 0 0 20px #dadada;
            padding: 16px 26px;
            border-radius: 30px;
            .main-table__download {
                visibility: visible;
                padding-right: 15px;
                opacity: 1;
            }
            .three-dots__icon {
                animation: 1.2s linear infinite alternate dotanimation;
                animation-delay: .4s;
                &::before {
                    animation: 1.2s linear infinite alternate dotanimation;
                    // animation-delay: .5s;
                }
                &::after {
                    animation: 1.2s linear infinite alternate dotanimation;
                    animation-delay: .8s;
                }
            }
        }
    }
    &__scroll-wrapper {
        max-height: 400px;
        overflow: auto;
        &::-webkit-scrollbar {
            background-color: $gray-200;
            width: 4px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            width: 4px;
            background-color: $gray-400;
            border-radius: 10px;
        }
    }
    &__download {
        opacity: 0;
        white-space: nowrap;
        visibility: hidden;
        transition: all .3s;
        &-icon {
            max-width: 15px;
            max-height: 15px;
            padding-left: 15px;
            box-sizing: content-box;
            fill: $danger;
            transition: all .3s;
        }
    }
    &__link {
        color: $gray-700;
        transition: all .3s;
        &:hover {
            opacity: .8;
            color: inherit;
            text-decoration: none;
        }
    }
    &__rating-list {
        display: flex;
    }
    &__rating-item {
        box-sizing: content-box;
        display: block;
        width: 18px;
        height: 18px;
        transition: all .3s;
        &:not(:last-child) {
            padding-right: 6px;
        }
        .icon-star {
            pointer-events: none;
            transition: all .3s;
            display: block;
            width: 100%;
            height: 100%;
            fill: $gray-400;
        }
        &--low {
            .icon-star {
                fill: $danger;
            }
        }
        &--medium {
            .icon-star {
                fill: $warning;
            }
        }
        &--high {
            .icon-star {
                fill: $success;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .main-table {
        tbody .main-table__row {
            // display: flex;
        }
    }
}